%h1.page-header Dashboard
.row
  .col-md-8
    .panel.panel-default
      .panel-heading Real-Time Attacks
      .panel-body
        .bullets
          %button.btn.btn-default.btn-sm Update
  .col-md-4
    .panel.panel-default
      .panel-heading Main
      .panel-body
        %canvas#main-gauge

.row
  .col-md-4
    .panel.panel-default
      .panel-heading Gauges
      .panel-body
  .col-md-8
    .panel.panel-default
      .panel-heading Details
      .panel-body