%h1.page-header Dashboard
.row
  .col-md-8
    .panel.panel-default
      .panel-heading Real-Time Attacks
      .panel-body  
        / %button.btn.btn-default.btn-sm Update
        .table-responsive
          %table.table
            %thead
              %tr
                %th Name
                %th Attacker
                %th Attacker IP
                %th Attacker Geo
                %th Target
                %th Target IP
                %th Target Geo
            %tbody
            

  .col-md-4
    .panel.panel-default
      .panel-heading Main
      .panel-body
        %canvas#gauge

.row
  .col-md-4
    .panel.panel-default
      .panel-heading Gauges
      .panel-body
  .col-md-8
    .panel.panel-default
      .panel-heading Details
      .panel-body